*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    background: #232730;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rect{
    width: 100%;
    height: 350px;
    background: #4CAAB2;
}
.circle{
    width: 400px;
    height: 400px;
    background:#4CAAB2 ;
    margin: auto;
    transform: translateY(-50px);
    transform: rotate(45deg);
    border: 80px solid #232730;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner__circle{
    width: 80px;
    height: 80px;   
    background: #232730;
    border-radius: 50%;
}