*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.bigbox{
    width: 100%;
    height: 100vh;
    background: #F3AB3C;
    position: relative;
}
.minibox{
    position: absolute;
    width: 700px;
    height: 700px;
    background: #1B4342;
    top: 130px;
    left: 500px;
    position: relative;
}
.smallbox{
    position: absolute;
    width: 250px;
    height: 250px;
    background: #998236;
    top: 450px;
    position: relative;
}
.box2{
    position: absolute;
    width: 100px;
    height: 100px;
    background: #F3AB3C;
    top: 150px;
    left: 150px;
}




